<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}
	<p>Click <a href="#">here</a> for answers to life, the universe, and everything!</p>
	{{> footer}}
</body>
</html>